<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Syncfusion4Support</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

				<div class="nav-item px-3">
 	<NavLink class="nav-link" href="datagrid-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-datagrid" aria-hidden="true"></span><span class="displayText">DataGrid</span>
 	</NavLink>
 	</div>
	<div class="nav-item px-3">
 	<NavLink class="nav-link" href="treegrid-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-treegrid" aria-hidden="true"></span><span class="displayText">Tree Grid</span>
 	</NavLink>
 	</div>
	<div class="nav-item px-3">
 	<NavLink class="nav-link" href="kanban-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-kanban" aria-hidden="true"></span><span class="displayText">Kanban</span>
 	</NavLink>
 	</div>
	<div class="nav-item px-3">
 	<NavLink class="nav-link" href="dialog-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-dialog" aria-hidden="true"></span><span class="displayText">Dialog</span>
 	</NavLink>
 	</div>
	<div class="nav-item px-3">
 	<NavLink class="nav-link" href="treeview-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-treeview" aria-hidden="true"></span><span class="displayText">TreeView</span>
 	</NavLink>
 	</div>
	<div class="nav-item px-3">
 	<NavLink class="nav-link" href="toast-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-toast" aria-hidden="true"></span><span class="displayText">Toast</span>
 	</NavLink>
 	</div>

    </nav>
</div>
